.details {
    gap: 30px;
    padding: 0 10px 20px;
}

.details ul {
    gap: 20px;
}

.details ul li {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
}

@media (max-width: 700px) {
    .details ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
}



