.details {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.details ul {
    display: flex;
    flex-direction: column;
}

.details ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
}




