.forecast {
    flex-direction: row;
    gap: 15px;
}

.forecast li {
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px 5px;
}

.forecast li img {
    transform: scale(0.8);
    padding-top: 5px;
}

.forecast li span,
.forecast li p {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.minMax .flex p {
    font-size: 14px;
}